<!DOCTYPE html>
<html>
  <head>
    <title>ChandruPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link href='http://fonts.googleapis.com/css?family=Overpass:400italic,600italic,400,600,300' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
